* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-body {
    display: flex;
    width: 95vw !important;
}

/* END OF SIDE BAR CSS */
.body-content {
    width: 70% !important;
}

.center-body {
    width: 70%;
}

.story ul {
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 28px;
    top: 10px;
}

.story ul li {
    margin-left: 22px;
}


li .story-profile {
    background-color: grey;
    border: 1px black solid;
    width: 58px;
    height: 58px;
    border-radius: 50%;

}

/* END OF STORY CSS */


.user_profile img.profiles {
    border-radius: 50%;
    width: 30px;
    aspect-ratio: auto;
}

.post.mt-4 {
    /* border: 1px black solid; */
    width: 85%;
    height: auto;
    margin-top: 40px !important;
    position: relative;
    left: 111px;
}

span.username {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.post-img img {
    width: 100%;
    ;
    object-fit: contain;
    aspect-ratio: auto;
}

.post .react i {
    font-size: 25px;
    margin-right: 15px;
    margin-top: 5px !important;
}

.likes {
    font-weight: 500;
    font-size: 15px;
}

span.username1 {
    font-size: 14px;
    font-weight: bold;
}

span.msg {
    font-size: 14px;
}

.comment input {
    border: none;
    width: 100%;
}

.comment textarea {
    width: 90%;
    height: 25px;
    border: none;
    resize: none;
}

.comment textarea:focus-visible {
    outline: none;
}

.comment textarea::placeholder {
    font-size: 14px;
}

.comment span.comment-react {
    position: relative;
    bottom: 15px;
}

/*END OF CENTER-BODY */

div.friend-suggest {
    width: 30%;
    height: 500px;
    /* background-color: red; */
    float: right!important;
    position: relative;
    right: 9px;
}

.users-suggest-profile img {
    border-radius: 50%;
    width: 43px;
    aspect-ratio: auto;
    margin-top:11px;
}

.users-suggest-profile img.users_profile {
    position: relative;
    top: 25px!important;
}

.my_user span{
    font-size: 15px;
    font-weight: 500;
    position: relative;
    top: 10px;
    left: 10px;
}

.my_name span{
    font-size: 14px;
    /* font-weight: 500; */
    position: relative;
    top: 3px;
    left: 10px;
    color: rgb(159, 159, 159);
}

.my_switch span{
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 20px;
    left: 90px;
    color: #0095F6;
}

.suggested-word{
    margin-top: 35px;
}

.suggested-word .first{
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: 3px;
    color: rgb(159, 159, 159);
}

.suggested-word .seall{
    font-size: 12px;
    font-weight: 500;
    position: relative;
    left: 130px;
}

.suggested-people img {
    border-radius: 50%;
    width: 43px;
    aspect-ratio: auto;
    margin-top:11px;
    position: relative;
    left: 2px
}












footer {
    height: 110px;
}

footer.text-center a {
    text-decoration: none;
    font-size: 12px;
    margin-left: 12px;
    color: gray;
}


footer select {
    font-size: 12px;
    color: gray;
    border: none;
    width: 6%;
}

.copyright {

    font-size: 12px;

    color: gray;
}








footer ul li a {
    text-decoration: none;
    font-size: 11px;
    margin-left: 3px;
    color: gray;
    position: relative;
    right: 34px;
}

footer ul li{
    display: inline;
    text-decoration: none;
    list-style-type: disc;
    color: gray;
}

.copyright {

    font-size: 12px;

    color: gray;
}