*{
    margin: 0;
    padding: 0;
}


.phone{
    background-image: url("../../image/phones.png") !important;
    height: 635px;
    width: 465px;
    background-repeat: no-repeat;
    position: relative;
    left: 64px;
    top: 10px;
}

.carousel {
    float: right;
    right: 59px;
    top: 27px;
    position: absolute;
}

.carousel-image {
    -webkit-animation: opacity 7s;
    animation: opacity 8s;
    -webkit-transition: 2s ease;
    -o-transition: 1s ease;
    transition: 2s ease;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 2;
    }
    100% {
        opacity: 0;
    }
}
/* .row .login-form{
    background-color: blue;
} */

.login-form img{
    width: 178px;
    aspect-ratio: auto;
    position: relative;
    top: 4px;
}

.border1{
    width: 349.99px;
    height: 407.13px;
    position: relative;
    bottom: 2px;
    right: 2px;
}

.form input[type=email], input[type=password]{
    font-size: 12px;
    width: 83%;
    height: 37px;
    border-radius: 2px;
    background-color: rgb(250, 250, 250);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 7px;
    position: relative;

}


#inputEmail4::placeholder{
    position: relative;
    right: 1px
}

#inputPassword::placeholder{
    position: relative;
    right: 1px
}

input[type=button]{
    width: 83%;
    height: 32px !important;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.login-btn{
    border-radius: 8px !important;
    height: 5px !important;
}

.or-txt{
    text-align: center;
}

.or-txt b{
    font-size: 12px!important;
    text-align: center;
    color: grey;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.hr-w1{
    width: 100%!important;
    position: relative;
    left: 14px!important;
    bottom: 2px;
    border-bottom:1px rgb(152, 149, 149) solid;
    
}

.hr-w2{
    width: 100%!important;
    position: relative;
    right: 15px;
    bottom: 2px;
    border-bottom:1px rgb(152, 149, 149) solid;
}

.login-fb a{
    text-decoration: none;
}

.login-fb img{
    width: 23px;
}

.login-fb span{
    font-size: 14px;
    color: #385185;
    position: relative;
    left: 6px;
    top: 6px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important
}

.forgot-password p{
    color: #00376B;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important ;
}

.border2{
    width: 349.99px;
    height: 62.44px;
    position: relative;
    bottom: 2px;
    right: 13px;
    /* text-decoration: none; */
}

.border2 a{
    text-decoration: none;
    color: #0095F6;
}

.border2 p{
    font-size: 14px!important;
}

.get-app p{
    font-size: 14px;
}

.get-app img:nth-child(1){
    width: 135px !important;
    aspect-ratio: auto;
    position: relative;

    right: 5px;
}

.get-app img:nth-child(2){
    width: 115px !important;
    position: relative;
    bottom: 20px;
}

footer{
    height: 110px;
}

footer a{
    text-decoration: none;
    font-size: 12px;
    margin-left: 12px;
    color: gray;
}

footer select{
    font-size: 12px;
    color: gray;
    border: none;
    width: 6%;
}

.copyright{

    font-size: 12px;

    color: gray;
}













@media (max-width: 992px) and (min-width: 767px) {

}

/*Medium devices */

@media (max-width: 768px) and (min-width: 576px) {

}

/*Small devices */

@media (max-width: 578px) {
    .phone-side{
        display: none;
    }

    .border{
        margin: auto!important;
    }
}